
{% extends 'home/base.html' %}

{% block title %}Contact Us - CoralOffice{% endblock %}

{% block content %}
<div class="container">
    <div class="price-card">
        <h3>🎓 Cursos PADI</h3>
        <br>
        <ul>
          <li class="li-link"><a href="#curso-scuba"><span>Scuba Diver</span><b>385 €</b></a></li>
          <li class="li-link"><a href="#curso-open"><span>Open Water Diver</span><b>580 €</b></a></li>
          <li class="li-link"><a href="#curso-advanced"><span>Advanced Open Water</span><b>460 €</b></a>
          </li>
          <li class="li-link"><a href="#curso-flota"><span>Flotabilidad Perfecta</span><b>210 €</b></a>
          </li>
          <li class="li-link"><a href="#curso-orienta"><span>Orientación</span><b>295 €</b></a></li>
          <li class="li-link"><a href="#curso-profunda"><span>Buceo Profundo (40 metros)</span><b>380
                €</b></a></li>
          <li class="li-link"><a href="#curso-nitrox"><span>Nitrox</span><b>220 €</b></a></li>
          <li class="li-link"><a href="#curso-react"><span>Primeros auxilios (Medic First Aid)</span><b>190
                €</b></a></li>
          <li class="li-link"><a href="#curso-rescue"><span>Rescue Diver</span><b>530 €</b></a></li>
          <li class="li-link"><a href="#curso-dm"><span>Diver Master</span><b>800 €</b></a></li>
        </ul>
      </div>
</div>
{% endblock %}
