
{% extends 'home/base.html' %}

{% block title %}Services - CoralOffice{% endblock %}

{% block content %}
<div class="container">
    <h2 style="text-align: center; font-size: 2rem; color: #003d66;">Precios</h2>
    <div class="price-table">
      <div class="price-card">
        <h3>🐠 Inmersiones Recreativas</h3>
        <br>
        <ul>
          <li><span>1 inmersión</span><b>39 €</b></li>
          <li><span>2 inmersiones (mismo día)</span><b>79 €</b></li>
          <li><span>Bono 6 inmersiones</span><b>222 €</b></li>
          <li><span>Inmersión nocturna</span><b>70 €</b></li>
          <li><span>Clase de buceo/ refresco</span><b>80 €</b></li>
          <li><span>Guía subacuático</span><b>+9 €</b></li>
        </ul>
        <h3 style="margin-top: 20px;">🎉 Experiencias</h3>
        <br>
        <ul>
          <li class="li-link"><a href="#curso-bautizo"><span>Bautizo</span><b>72 €</b></a></li>
          <li class="li-link"><a href="#curso-iniciacion"><span>Iniciación al buceo</span><b>150
                €</b></a></li>
        </ul>
      </div>
</div>
{% endblock %}
