{% extends 'users/base.html' %}

{% block users_title %}Añadir cliente a la inmersión{% endblock %}

{% block users_content %}
<div class="p-3 container">
    <h2>Añadir cliente a la inmersión: {{ dive.dive_site }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Añadir cliente</button>
        <a href="{% url 'users:manage_dive_participants' dive.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}