
{% extends 'users/base.html' %}

{% block users_title %}Logged Out - CoralOffice{% endblock %}

{% block users_content %}
<div style="text-align: center; padding: 40px 20px;">
    <h2>You have been successfully logged out</h2>
    <p>Thank you for using CoralOffice. You have been safely logged out of your account.</p>
    
    <div style="margin-top: 30px;">
        <a href="{% url 'home:index' %}" class="btn" style="margin-right: 10px;">
            Go to Home
        </a>
        <a href="{% url 'users:login' %}" class="btn">
            Login Again
        </a>
    </div>
</div>

<script>
// Auto-redirect to home page after 3 seconds
setTimeout(function() {
    window.location.href = "{% url 'home:index' %}";
}, 3000);
</script>
{% endblock %}
