{% extends 'users/base.html' %}

{% block users_title %}Profile - CoralOffice{% endblock %}

{% block users_content %}
<div class="p-3 container">
    <h2>Bienvenido, {{ user.get_full_name|default:user.username }}!</h2>
    <div class="user-card">
        <h3>Tu información</h3>
        <p><strong>Usuario:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if user.userprofile.is_diving_center %}
            <p><strong>Tipo de cuenta:</strong> Diving Center</p>
            <p><strong>Nombre del negocio:</strong> {{ user.userprofile.business_name }}</p>
            {% if user.userprofile.business_license %}
                <p><strong>Licencia:</strong> {{ user.userprofile.business_license }}</p>
            {% endif %}
        {% else %}
            <p><strong>Tipo de cuenta:</strong> Individual User</p>
        {% endif %}
        {% if user.userprofile.bio %}
            <p><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
        {% endif %}
        {% if user.userprofile.location %}
            <p><strong>Ubicación:</strong> {{ user.userprofile.location }}</p>
        {% endif %}
        <p><strong>Miembro desde:</strong> {{ user.userprofile.created_at|date:"F d, Y" }}</p>
    </div>

    <div class="d-flex flex-column d-md-inline-block mt-3">
        <a href="{% url 'users:update_profile' %}" class="mb-2 btn btn-secondary">Actualizar perfil</a>

        {% if user.userprofile.is_diving_center %}
            <a href="{% url 'users:diving_center_dashboard' %}" class="mb-2 btn btn-primary">Dashboard</a>
            <a href="{% url 'users:customer_list' %}" class="mb-2 btn btn-success">Gestionar Clientes</a>
            <a href="{% url 'users:dive_calendar' %}" class="mb-2 btn btn-warning">Calendario</a>
            <a href="{% url 'users:courses_list' %}" class="mb-2 btn btn-info text-white" >Cursos</a>
            <a href="{% url 'users:course_enrollments' %}" class="mb-2 btn text-white" style="background: #e83e8c;">Matriculaciones</a>
        {% endif %}

    </div>
</div>
{% endblock %}