
{% extends 'users/base.html' %}

{% block users_title %}Programar salida de buceo- CoralOffice{% endblock %}

{% block users_content %}
<div class="p-3 container">
    <h2>Programar salida{% if selected_date %} para {{ selected_date }}{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Programar inmersión</button>
        <a href="{% url 'users:calendar_view' %}" class="btn btn-secondaru">Cancelar</a>
    </form>
</div>
{% endblock %}
