
{% extends 'users/base.html' %}

{% block users_title %}Update Profile - CoralOffice{% endblock %}

{% block users_content %}
<style>
    input, textarea{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>
<div class="p-3">
    <h2>Actualizar perfil</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in user_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <h3>Profile Information</h3>
        {% for field in profile_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Update Profile</button>
        <a href="{% url 'users:profile' %}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock %}
